[Unit]
Description=Web3 Analyzer Docker Container
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
User={{ansible_user}}
Group=docker
WorkingDirectory={{ install_dir }}

ExecStartPre=/usr/bin/docker build -t analyzer -f {{ install_dir }}/analyzer/Dockerfile {{ install_dir }}
ExecStart=/usr/bin/docker run --rm \
    --name analyzer \
    --env-file {{ env_file }} \
    analyzer

ExecStop=-/usr/bin/docker stop analyzer

Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
